/*
 * @Author: lihaitao 
 * @Date: 2018-12-28 11:55:51 
 * @Last Modified by: lihaitao
 * @Last Modified time: 2018-12-28 11:56:14
 */
.clearfix
  display block
.clearfix:after
  content ''
  display block
  height 0
  clear both
  visibility hidden