/*
 * @Author: lihaitao 
 * @Date: 2018-12-28 11:55:54 
 * @Last Modified by:   lihaitao 
 * @Last Modified time: 2018-12-28 11:55:54 
 */
$--color-primary = #459ae9
$--color-white = #fff
$--bg-primary = #f2f4f4